@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face{
	font-family: 'Open-Sans';
	src: url("../fonts/static/OpenSans_Condensed-Regular.ttf") format('truetype')
}




:root{
	--color-hover-menu:#FE8F01;
	--fondo-header:#3d3d3d;
	--fondo-footer: #333333;
	--letra-footer: #bababa;
	--color-general: #666;
	--color-titulo: #000;
	--fondo-card: #494949;
	--fondo-counter: #010101;
	--color-naranja: #fe8f01;
}
body{
	font-family: "Open-Sans";
	font-size: 14px;
	
}
header{
	background-color: var(--fondo-header);
	padding: 10px 0;
}
footer{
	
	background-color: var(--fondo-footer);
	color: var(--letra-footer);
	padding: 15px 0;
	text-align: center;
}
#about-us{
	padding: 30px 0;
}

#counter{
	background-color: var(--fondo-counter);
	color: #fff;
	text-align: center;
	padding: 10px 0px 15px 0px;
}


h5{
	color: var(--color-naranja);
}

h2{
	text-align: center;
	font-size: 40px;
}
h1{
	font-size: 50px;
}

.card{
	background-color: var(--fondo-card);
	color: #fff;
	text-align: center;
	padding: 60px 30px;
}


	


.iconos i{
	background-color: var(--color-naranja);
	font-size: 30px;
	padding: 25px;
	border-radius: 50px;
	border: solid #fff 4px;
}

